{% extends 'base.html'%}
{% load static %}

{% block bodycontent %}
<html xmlns="http://www.w3.org/1999/html">
    <head>
    <title> {% block title %} List page{%  endblock%}</title>
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    </head>

    <body>
    <div class="container">
        <div class="content">
            <h1>Nitin's blog</h1>
            {% if  tag %}
                <h2>post tagged with {{ tag.name }}</h2>
            {% endif %}
            {% for post in post_list %}
                <a href="{{ post.get_absolute_url }}"><h2>{{ post.title }}</h2></a>
                <p class="date">published on {{ post.publish }} by {{ post.author|title }}</p>
                <p><b>Tags:</b>
                    {% for tag in post.tags.all %}
                        <a style="color: mediumblue" href="{% url 'post_list_by_tag_name' tag.slug %}">{{ tag.name }}</a>
                        {% if not forloop.last %}<h7 style="color: black;font-size: 25px">,</h7>{% endif %}
                    {% endfor %}
                </p>
                <p class="date">
                    <div class="panel panel-info">
                    <div class="panel-heading">{{ post.body|truncatewords:30|linebreaks}}
                    </div>
                    </div>
                </p>
            {% endfor %}

        {% include 'paginator.html' with page=post_list %}
        </div>
    </div>
    </body>
</html>
{% endblock %}